#google_translate_element {
    display: none;
}

.goog-te-banner-frame {
    display: none !important;
}

body {
    position: static !important;
    top: 0 !important;
}

li {
    list-style-type: none;
    padding: 3px;
 }

.nav {
    display: inline-flex;
    margin-top: 2px;
    padding-left: 90%;
 }

